<!DOCTYPE html>

<html ng-app="myModule">

	<head>
		
		<meta charset="utf-8">
		<title>This is Angular JS</title>
		
	</head>

	<body>

		
		<div ng-controller="myController">

		<input type="number" step="1" min="0" max="10" ng-model="numberOfElement">

			<table>
				
					<thead>
						
						<tr>
							
							<th>Name</th>
							<th>Date Of Birth</th>
							<th>Gender</th>
							<th>Salary</th>
							<th>Salary</th>

						</tr>

					</thead>

					<tbody>
						
						<tr ng-repeat="e in employee | limitTo:numberOfElement:1">
						<!--limitTo function limits the elements-->
						<!--:1 says start at 2-->

							<td>{{e.name | uppercase}}</td> <!--This filters to uppercase-->
							<td>{{e.dateOfBirth |date:"dd/mm/yyyy"}}</td><!-- custom date formet-->
							<td>{{e.gender | lowercase}}</td>
							<td>{{e.salary | number:2}}</td>
							<td>{{e.salary | currency:"$"}}</td>
							
						</tr>

					</tbody>
			</table>

		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
		<script type="text/javascript" src="scripts.js"></script>

	
	</body>


</html>